<h1>e.l.a</h1>
<h5>Interaction Design | Frontend Development</h5>

<div class="about-box rows">
	<div class="col-sm-3">
		<div class="pp">
			<img src="img/PPELA.jpg">
		</div>
	</div>
	<div class="col-sm-9 fw-light h4 lh-15">
		<p>Hello, I'm Ela! I have a passion on creating a <em>usable</em> and <em>useful</em> products with recent technology. Interaction design and user experience are the things that interest me all the time. </p>
		<p>Currently, I'm living in Stockholm to pursue a Master Degree in <em>Interactive Media Technology</em> at KTH Royal Institute of Technology. Previously, I worked for 3 years as a Frontend Developer at Varnion International in Bandung, Indonesia.</p>
		<p>I spent my free time listening to <a href="http://www.last.fm/user/lastserenity" target="_blank">music</a>, watching movies (especially korean dramas), walking around Stockholm and taking some <a href="http://instagram.com/elaelation" target="_blank">pictures</a>!</p>
		<p>Contact me at:<br>
		<a href="mailto:elayudhanira@gmail.com">elayudhanira@gmail.com</a></p>
	</div>
</div>