<div class="page-bg">
	<svg width="100%" height="100%" class="poly-anim">
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="0" y1="32.545" x2="187.182" y2="217.773"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="187.182" y1="217.773" x2="249.682" y2="0"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="187" y1="217.5" x2="435" y2="217.5"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="435" y1="217.5" x2="249.682" y2="0"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="435" y1="217.5" x2="426.955" y2="0"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="426.955" y1="0" x2="591.728" y2="108.75"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="591.728" y1="108.75" x2="435" y2="217.5"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="591.728" y1="108.75" x2="719" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="591.5" y1="109" x2="591.5" y2="0"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="591.5" y1="109" x2="965.591" y2="0"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="965.591" y1="0" x2="724.682" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="435" y1="217.5" x2="719" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="435" y1="217.5" x2="412.182" y2="466.637"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="187.182" y1="217.773" x2="0" y2="255.272"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="0" y1="255.272" x2="261.045" y2="422.318"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="261.045" y1="422.318" x2="187.182" y2="217.773"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="261.045" y1="422.318" x2="435" y2="217.5"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="261.045" y1="422.318" x2="412.182" y2="466.637"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="412.182" y1="466.637" x2="719" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="719" y1="320.045" x2="790.591" y2="549.591"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="412.182" y1="466.637" x2="599.682" y2="617.772"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="599.682" y1="617.772" x2="719" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="790.591" y1="549.591" x2="599.682" y2="617.772"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="790.591" y1="549.591" x2="913.318" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="719" y1="320.5" x2="913" y2="320.5"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="965.591" y1="0" x2="1178.091" y2="255.272"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="965.591" y1="0" x2="894" y2="236.522"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="719" y1="320.045" x2="894" y2="236.522"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="894" y1="236.522" x2="913.318" y2="320.045"/>
		<line fill="none" stroke="#FBB03B" stroke-miterlimit="10" x1="913.318" y1="320.045" x2="1178.091" y2="255.272"/>
	</svg>
</div>